# 0.0 IMPRTS

## 0.1 Librariesm

In [1]:
import json
import requests

import pandas as pd

## 0.2 Load Dataset

In [2]:
df_teste = pd.read_csv('../00-Data/test.csv')

## 0.3 Dataset convert to JSON

In [3]:
# Convert DataFrame to JSON
data = json.dumps(df_teste.to_dict(orient='records'))

# 1.0 Localhost

In [4]:
## API Call
url = 'http://localhost:5000/predict'
header = {'Content-Type': 'application/json'}
data = data

r = requests.post(url, data=data, headers=header)
print('Status Code {}'.format(r.status_code))

Status Code 200

In [5]:
df_response = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [6]:
df_response.head()

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,age_stage,vehicle_damage_license,vehicle_damage_vehicle_age,prediction,prediction_probality
0,439630,Female,34,1,10.0,0,1,1,27596.0,150.0,270,Adult,4,-4,1,0.715948
1,431610,Male,41,1,29.0,0,1,1,42464.0,135.0,58,Adult,4,-4,1,0.715948
2,470717,Female,41,1,11.0,0,1,1,37841.0,131.0,145,Adult,4,-4,1,0.715948
3,443424,Female,44,1,24.0,0,1,1,31140.0,145.0,146,Adult,4,-4,1,0.715948
4,400385,Male,42,1,29.0,0,1,1,29553.0,139.0,186,Adult,4,-4,1,0.715948

# 2.0 Heroku

In [9]:
## API Call
url = ' https://insurance-predict.herokuapp.com/predict'
header = {'Content-Type': 'application/json'}
data = data

r = requests.post(url, data=data, headers=header)
print('Status Code {}'.format(r.status_code))

Status Code 200

In [10]:
df_response = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [11]:
df_response.head()

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,age_stage,vehicle_damage_license,vehicle_damage_vehicle_age,prediction,prediction_probality
0,439630,Female,34,1,10.0,0,1,1,27596.0,150.0,270,Adult,4,-4,1,0.715948
1,431610,Male,41,1,29.0,0,1,1,42464.0,135.0,58,Adult,4,-4,1,0.715948
2,470717,Female,41,1,11.0,0,1,1,37841.0,131.0,145,Adult,4,-4,1,0.715948
3,443424,Female,44,1,24.0,0,1,1,31140.0,145.0,146,Adult,4,-4,1,0.715948
4,400385,Male,42,1,29.0,0,1,1,29553.0,139.0,186,Adult,4,-4,1,0.715948